.maike-form-box {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin: auto;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgba(230 237 241 0.16);
  gap: 2vw;
}

.maike-form-divider {
  display: flex;
  justify-content: space-evenly;
  gap: 7.5vw;
}

.maike-form-center-line {
  position: relative;
  top: 0.4vh;
  width: 0.1vw;
  height: 24vw;
  background-color: rgba(0, 0, 0, 0.18);
}

.maike-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
}

.maike-avatar {
  position: relative;
  top: 1.5vh;
  width: 20vw;
  /* height: 4vh; */
  font-size: 4vh;
  border-radius: 20px;
  background-color: #ff6900;
  color: white;
  cursor: pointer;
  margin-top: -1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #ff6900;
}

.maike-avatar:hover {
  color: #fcb480;
  background-color: white;
  border: solid 2px #ff6900;
}

#hideSaveButton {
  position: relative;
  top: 1.5vh;
  width: 20vw;
  font-size: 4vh;
  border-radius: 20px;
  background-color: #00d084;
  color: white;
  margin-top: -1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #00d084;
  cursor: default;
}

#hideMaikeButton {
  position: relative;
  top: 1.5vh;
  width: 20vw;
  height: auto;
  font-size: 4vh;
  border-radius: 20px;
  background-color: rgb(198, 198, 198);
  color: white;
  margin-top: -1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(198, 198, 198);
  cursor: not-allowed;
}

.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-container select {
  font-size: 1.5vw;
  padding-left: 1vw;
  word-spacing: 0.5vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

select {
  position: relative;
  display: inline-block;
  bottom: 1vh;
  appearance: none;
  background-color: white;
  padding: 0.25vw;
  border-radius: 10px;
  color: black;
  width: 20vw;
  cursor: pointer;
  outline: none;
  border: none;

}

.select_arrow i {
  position: absolute;
  color: var(--primary-1);
  top: auto;
  right: 15px;
  font-size: 20px;
  pointer-events: none;
  transform: translateX(50%);
}

select:hover {
  background-color: white;
}

select:focus {
  outline: none;
}

#option {
  display: flex;
}
#maike-title {
  margin-top: 1.5vw;
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: -1vw;
  font-family: lato;
}

#maike-style {
  position: relative;
  top: 3vh;
  font-size: 1.5rem;
  color: var(--primary-1);
  font-weight: bold;
  font-family: lato;
}

#maike-appearance {
  position: relative;
  top: 3vh;
  font-size: 1.5rem;
  color: var(--primary-1);
  font-weight: bold;
  font-family: lato;
}

.list-maike-buttons {
  display: flex;
  gap: 5vw;

  margin-bottom: 3vw;
}
