.maike-form-box{
    width:70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:5px solid #27c7ff;
    height: fit-content;
    margin:auto;
    /* margin-top:5.5vw; */
    border-radius:20px;
    gap: 2vw;
}

.maike-form-divider{
    display: flex;
    justify-content: space-evenly;
    gap: 7.5vw;
}

.maike-form-center-line{
    position: relative;
    top: 0.4vh;
    width: 0.1vw;
    height: 27vw; 
    background-color: #27c7ff;
}

.maike-form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
}

.maike-avatar {
    position: relative;
    top: 1.5vh;
    width: 20vw;
    /* height: 4vh; */
    font-size: 4vh;
    border-radius: 20px;
    background-color: #ff6900;
    color: white;
    cursor: pointer;
    margin-top:-1.5vw;
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #ff6900;
  }

  .maike-avatar:hover{
    color: #fcb480;
    background-color: white;
    border: solid 2px #ff6900;
  }

  #hideSaveButton{
    position: relative;
    top:1.5vh;
    width:20vw;
    font-size:4vh;
    border-radius:20px;
    background-color: #00d084;
    color:white;
    margin-top:-1.5vw;
    display:flex;
    justify-content:center;
    align-items:center;
    border: solid 2px #00d084;
    cursor:default;
  }

  #hideMaikeButton{
    position: relative;
    top:1.5vh;
    width:20vw;
    height:auto;
    font-size:4vh;
    border-radius:20px;
    background-color: rgb(198, 198, 198);
    color:white;
    margin-top:-1.5vw;
    display:flex;
    justify-content:center;
    align-items:center;
    border: solid 2px rgb(198,198,198);
    cursor:not-allowed;
  }

  .select-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .select-container select{
    font-size: 1.5vw;
    /* padding-left: 1vw; */
    text-align: center; 
    word-spacing: 0.5vw
  }
  
  select {
    position: relative;
    bottom: 1vh;
    appearance: none;
    background-color: #27c7ff;
    border: solid 1px gray;
    padding: 0.25vw;
    border-radius: 20px;
    color: white;
    width: 20vw;
    cursor: pointer;
    border: solid 2px #25c7ff;
    
  }

  select:hover{
    color: #25c7ff;
    background-color: white;
    border: solid 2px #25c7ff;
  }

  select:focus{
    outline:none;
    
  }
  

  #maike-title{
    margin-top: 1.5vw;
    font-size: 5vw;
    color: #ff6900;
    font-weight: bold;
    margin-bottom:-1vw;
  }

  #maike-style{
    position: relative;
    top: 3vh;
    font-size: 3vw;
    color: #25c7ff;
    font-weight: bold;
  }

  #maike-appearance{
    position: relative;
    top: 3vh;
    font-size: 3vw;
    color: #25c7ff;
    font-weight: bold;
  }
  
  .list-maike-buttons{
    display: flex;
    gap: 5vw;
    margin-bottom:3vw;
    
  }
  
  