.mySwiperRight {
    width: 50vw;
    height: 25vh;
  }
  
  
  .slide-background-right {
    position: relative;
    width: 50vw;
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .corner-image-right {
    position: absolute;
    right: 0;
    width: 14vw;
    border: solid 2px black;
  }
  
  .slide-text-right {
    position: relative;
    left: 20vw;
    top: 7vh;
    color: #000000;
    font-weight: bold;
    font-size: 90px;
  }
  
  