/* -------------------------------NavLinks */

.loggedin-nav-box{
    display: flex;
    /* background-color: black; */
    gap: 10vw;
    /* margin-left: 20vw; */
    /* padding-bottom: 5vh; */
    align-items: center;
    
}

.links-nav{
    position: relative;
    left: 8.5vw;
   
    display: flex;
    justify-content: space-around;
    width:70vw;
    gap: 14vw;
    background-color: #25c7ff;
    padding: 1vw;
    border-radius: 50px;
    border: 3px solid #25c7ff; 
    align-items:center;
    /* margin-top:1.8vw; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  /* overflow: hidden; */
}

.links-nav a{
    text-decoration: none;
    font-weight: bold;
    font-size: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    color: white;
    letter-spacing: 0.08vw;
    font-size: 3vw;
}

.links-nav a.active{
  font-weight:bolder;
  color:#ff6900;
  text-decoration: underline;
}

.links-nav a:hover{
  color:#fcb480
}

/* ----------------------------------- DROPDOWN */

.dropdown-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-toggle i {
    position: relative;
    /* left: 19vw; */
    /* bottom: 0.5vh; */
    border:1px solid #25c7ff;
    padding:1.7vw;
    border-radius:100%;
    color:white;
    background-color: #25c7ff;
    font-size:2vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  /* overflow: hidden; */
  }

  .dropdown-toggle i:hover{
    color:#25c7ff;
    background-color: white;
  }

  .dropdown-menu {
    position: relative;
    /* right: 43.2vw; */
    z-index: 2;
  }
  
  .profileButtonDropdown {
    position: absolute;
    left:-1.4vw;
    top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ade7ff;
    width: 9vw;
    height: 15vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  /* overflow: hidden; */
    border-radius:1vw;
  }
  
  .profileButtonDropdown * {
    background: none;
    border: none;
    color: white;
    align-items: center;
    /* text-decoration: none; */
    text-decoration: underline;
    font-size: 24.5px;
    padding-bottom: 1vh;
    padding-top: 1vh;
  }
  
  .profileButtonDropdown *:hover {
    color: rgb(40, 145, 251);
    text-shadow: 0px 0px 1px #57cbde;
    cursor: pointer;
  }
  
  

