.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavBar button {
    height: 20px;
}

.links-nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.links-auth {
    width: 100px;
    display: flex;
    justify-content: space-between;
}
