
.logged-out-logo{
    position: relative;
    right: 30.5vw;
    top: 0.25vw;
    /* right: 8vw; */
}

.loggedOutNav{
    position: fixed;
    display:flex;
    width:100%;
    align-items:center;
    justify-content: space-between;
    /* margin-top: 6rem; */
    top:0.02vw;
    height:5vw;
    z-index: 10;
    /* border: 1px solid red; */
    /* margin-right: 28vw; */
    box-shadow:0 0.5px 3px 1px rgb(208, 207, 207);
    background-color: white;
}

#signup{
    /* margin-right:34.5vw; */
    position: relative;
    right: 4.8vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    /* margin-left: 5vw; */
    /* z-index: 3; */
    /* margin-left:auto; */
}

#signup p{
    font-size:5vw;
    font-weight:bolder;
}

.signup-form{
    width:250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-right:80px; */
    /* box-shadow: 0px 0px 10px 3px red; */
}

.errors{
    height:25px;
    display:flex;
    align-items:center;
    color:red;
    column-gap:10px;
    font-size:14px;
}

.signup-form input{
    padding-left:4px;
    width: 180px;
    font-size:20px;
    border-radius:20px;
    border: 1px solid #27c7ff;
    padding-left:10px;
}

.signup-form input:focus{
    outline:none;
}

#submitSignUp{
    margin-top:25px;
    margin-bottom:25px;
    width:194px;
    border: 1px solid #ff6900;
    background-color: #ff6900;
    color:white;
}

#submitSignUp:hover{
    cursor:pointer;
    background-color: #00d084;
    border: 1px solid #00d084;

}



.signup-form h2{
    font-size:35px;
    font-weight:bolder;
}

.login-form{
    width:250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input:focus{
    outline:none;
}

.login-form input{
    padding-left:4px;
    width: 180px;
    font-size:20px;
    border: 1px solid #27c7ff;
    border-radius:20px;
    padding-left:10px;

}

.login-form button{
    width:180px;
    font-size:20px;
    border: 1px solid #ff6900;
    background-color: #ff6900;
    color:white;
    margin-bottom:25px;
    border-radius:20px;
}

.login-form button:hover{
    background-color: #00d084;
    border: 1px solid #00d084;
    cursor:pointer;

}

#submitLogin{
    margin-top:25px;
    margin-bottom:25px;
    border: 1px solid #ff6900;
    background-color: #ff6900;
    color:white;
}

#submitLogin:hover{
    background-color: #00d084;
    border: 1px solid #00d084;
    cursor:pointer;
}

.login-form h2{
    font-size:35px;
    font-weight:bolder;
}

#userAuthButtons{
    display:flex;
    align-items:center;
    column-gap:20px;
    margin-right:2vw;
}

#userAuthButtons button{
    min-width:150px;
    background-color: #27c7ff;
    border:none;
    color:white;
    font-size:30px;
    border-radius:20px;
    border: 1px solid #27c7ff;
}

#userAuthButtons button:hover{
    cursor:pointer;
    background-color: white;
    color:#27c7ff;
    border: 1px solid #27c7ff;
}

#emptyNav{
    width:5.5vw;
}

#nullDemoEmail{
    font-style:bold;
    color:red;
    font-size:20px;

}

#nullDemoEmail:hover{
    cursor:not-allowed;
}
