ul.imagesContainer {
    display: grid;
    width: 33vw;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    /* border: solid black 30px; */
    overflow-y: scroll;
    border: solid 2px #25c7ff;
    max-height: 48vw;
}

ul.imagesContainer li.savedImageItem{
    width: auto;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0.5vw;
}

ul.imagesContainer .savedImageItem img{
    border-radius: 5px;
    width: 100%;
}   

ul.imagesContainer .savedImageItem button{
    /* position: absolute; */
    position: relative;
    right: 2vw;
    margin: 0.1vw;
}

