.custom-pagination {
    position: relative;
    right: 13.5vw;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }
  
  .custom-bullet {
    width: 1.2vw;
    height: 1.2vw;
    background-color: white;
    border: 2px solid #38b9ec;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
    border-radius: 20px;
    cursor: pointer;
    color: #38b9ec;
    z-index: 20; 
  }
  
  .custom-bullet-active {
    background-color: #25c7ff;
    color: #fff;
  }
  