.list-item-content{
    position: relative;
    left: 0.25vw;
    display: flex;
    font-size: 2vw;
    gap: 0.3vw;
    color: #ff6a00ee;
}

.list-item-box{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.list-item-edit{
    position: relative;
    bottom: 0.26vw;
    font-size: 1.5vw;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: #25c7ff;
}

.list-item-edit:hover{
    color: #11aee2;
}
