.list-item-content{
    position: relative;
    left: 0.25vw;
    bottom: 1.2vw;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    gap: 0.3vw;
    color: #ff6a00ee;
}

.list-prop-info{
 display: flex;
 flex-direction: column;
 position: relative;
 text-align: center;
 color: #ff6a00ee;
 font-size: 1.8vw;
 bottom: 1.8vw;
 right: 3.5vw;
}

.list-title-key{
    position: relative;
    text-align: center;
    color: #25c7ff;
    font-size: 2.3vw;
    bottom: 3.5vw;
    left: 2.8vw;
}

.list-title-key,
.list-prop-info {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.list-item-split:hover .list-title-key,
.list-item-split:hover .list-prop-info {
  color: black;
  text-shadow: none;
}


.list-item-split:hover .list-title-key,
.list-item-split:hover .list-prop-info {
  color: rgb(2, 143, 186);
}


  .list-item-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1vw; 
  }
  
  .list-item-split {
    display: contents;
  }

  .list-item-edit-button{
    position: relative;
    bottom: 7vw;
    left: 16vw;
    width: 5vw;
  }