.profile-main-box{
    display: flex;
    justify-content: space-between;
    /* margin-top: 1.2vw; */
   
}

.profile-left-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10.5vw;
    margin-top:-3vw;
    gap: 0.5vw;
}

.profile-right-box{
    margin-right: 15vw;
    margin-bottom: 1vw;
}