.profile-box-container{
    width: 15vw;
    display: flex;
    position:relative;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    margin-right: 10.5vw;
    /* border: solid 3px #25c7ff; */
    /* border-radius: 20px; */
    /* overflow: hidden; */
    
}

.profile-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    box-shadow: 0 4px 8px 2px grey;
}

.profile-image{
    display: flex;
    flex-direction: column;
    /* border-bottom: solid 1px #25c7ff; */
    width:15vw;
    height:15vw;
    overflow:hidden;
    align-items: center;
    justify-content: center;
}

.profile-image div{
    font-size:3.3vw;
    text-align:center;
    color:#ff6900
}
.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.profile-info{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    align-items: center;
}

.profile-info #username{
    position: relative;
    text-align: center;
    top: 0.5vw;
    font-size: 3vw;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
}

.profile-info p{
    text-align: center;
    font-size: 2vw;
    color: rgba(0, 0, 0, 0.289);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    /* text-transform: capitalize; */
}

.profile-underline{
    width: 15vw;
    height: 0.2vw;
    background-color: #25c7ff;
}

#editUserButton{
    position:absolute;
    left:12.5vw;
    top:16vw;
    border:none;
    background-color: #ff6900;
    color:white;
    width:2.5vw;
    font-size:1vw;
    border-radius:0.5vw;
    border:1px solid #ff6900;
    display:flex;
    justify-content: center;
    align-items:center;
    height:2.5vw;
    
}

#editUserButton:hover{
    cursor:pointer;
    background-color: white;
    color:#ff6900
}

#editPhotoButton{
    position:absolute;
    background-color: #ff6900;
    color:white;
    border-top:1px solid #ff6900;
    border-left:1px solid #ff6900;
    border-right:none;
    border-bottom:none;
    padding-top:0.4vw;
    left: 12.5vw;
    top:12.5vw;
    width:2.5vw;
    height:2.5vw;
    font-size:1vw;
    /* border-radius:100%; */
    border-top-left-radius:0.5vw;
}

#editPhotoButton:hover{
    cursor:pointer;
    background-color: white;
    color:#ff6900
}