.profile-main-box{
    display: flex;
    justify-content: space-between;
    margin-top: 1.3vw;
   
}

.profile-left-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16.5vw;
    gap: 0.5vw;
}

.profile-right-box{
    margin-right: 15vw;
}