.mySwiper {
    position: relative;
    top: 1vw;
    height: 26.5vw;
    width: 24vw;
    border: solid 3px #25c7ff;
    border-radius: 20px;
  }
  
  .save-list-content-box{
    position: relative;
    top:4vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .parts{
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }
 
  #saved-list-pos{
    position: relative;
    font-size: 2.5vw;
    /* color: #ff6a00ee; */
    left: 11.4vw;
    top: 24vw;
  }

  .savedlist-title{
      position: relative;
      left: 1.8vw;
      bottom: 0.5vw;
      font-size: 2.5vw;
      color: #ff6a00ee;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      text-decoration: underline;
      letter-spacing: 0.2vw;
      /* background-color: #25c7ff; */
  }

  .savedlist-title-box{
    padding-top: 1.5vw;
    border-bottom: solid 3px #25c7ff ;
  }

  