.mySwiper {
    position: relative;
    top: 1vw;
    height: 25vw;
    width: 8vw;
    border: solid 2px #25c7ff;
  }
  
  .save-list-content-box{
    display: flex;
    flex-direction: column;
  }

  .underlinedText {
    position: relative;
    left: 2.8vw;
    font-size: 18px;
    text-decoration: underline;
  }
  