.mySwiper {
    position: relative;
    top: 0.1vw;
    right: 5vw;
    height: 23.5vw;
    width: 33vw;
    /* border: solid 3px #25c7ff; */
    box-shadow: 0 4px 8px 2px grey;
    border-radius: 20px;
  }
  
  .save-list-content-box{
    position: relative;
    top:4vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .parts{
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }
 
  #saved-list-pos{
    position: relative;
    font-size: 2.5vw;
    /* color: #ff6a00ee; */
    left: 11.4vw;
    top: 24vw;
  }

  .savedlist-title{
      position: relative;
      left: 2vw;
      bottom: 0.5vw;
      font-size: 2.5vw;
      color: black;
      /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
      /* text-decorats */
      /* letter-spacing: 0.2vw; */
      /* background-color: #25c7ff; */
  }

  .savedlist-title-box{
    padding-top: 1.5vw;
    background-color: #00000012;
  }

  .pagination-container {
    position: relative;
    bottom: 8.5vw;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  .custom-pagination {
    pointer-events: all;
  }
  
  .swiper-container {
    position: relative;
  }
  
  .custom-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #emptyList{
    /* z-index:10; */
    /* border:1px solid red; */
    font-size:3.3vw;
    color:#ff6900;
    padding-top:10vw;
    text-align:center;
  }