/*TeamMemberCard*/

div.teamMemberCard_wrapper{
    border: 3px solid rgb(178, 209, 250);
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
div.teamMemberCard_wrapper div{
    margin: 1vw;
}

.teamMember_image img{
    width: 100%;
}

.team_wrapper {
    display: flex;
    justify-content: space-evenly;
    
}


